@model IEnumerable<e_com.EF.Product>

@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $(".wish-icon i").click(function () {
            $(this).toggleClass("fa-solid fa-heart");
        });
    });
</script>
<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                @foreach (var p in Model)
                {
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <span class="wish-icon"><i class="fa-solid fa-heart"></i></span>

                            <img src="~/Content/Product/@p.Image" class="card-img-top" style="min-height: 220px!important; max-height: 220px" alt="">

                            <div class="card-body">
                                <h4 class="text-truncate card-title">@p.Title</h4>
                                <p class="item-price">$@p.Price</p>
                                <a href="@Url.Action("AddToCart", "Cart", new { @ProductId = p.Id })" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
