@model IEnumerable<e_com.EF.Category>
@{
    ViewBag.Title = "Create";
    ViewBag.HeadingTitle = "Category List";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="container">
    <table class="table table-success table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a class="me-2" href="edit/@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="ms-2" href="Delete/@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>